[submodule "symfony4"]
	path = symfony4
	url = git@github.com:trydirect/symfony4.git
[submodule "magento"]
	path = magento
	url = git@github.com:trydirect/magento.git
[submodule "mautic"]
	path = mautic
	url = git@github.com:trydirect/mautic.git
[submodule "nginx"]
	path = nginx
	url = git@github.com:trydirect/nginx.git
[submodule "wordpress"]
	path = wordpress
	url = git@github.com:trydirect/wordpress.git
[submodule "laravel-formula"]
	path = laravel-formula
	url = git@github.com:trydirect/laravel-formula.git
[submodule "flask-formula"]
	path = flask-formula
	url = git@github.com:trydirect/flask-formula.git
[submodule "zenbership"]
	path = zenbership
	url = git@github.com:trydirect/zenbership.git
[submodule "redmine4"]
	path = redmine4
	url = git@github.com:trydirect/redmine4.git
[submodule "redmine3"]
	path = redmine3
	url = git@github.com:trydirect/redmine3.git
[submodule "gekko"]
	path = gekko
	url = git@github.com:trydirect/gekko.git
[submodule "bitrix24"]
	path = bitrix24
	url = git@github.com:trydirect/bitrix24.git
[submodule "django-oscar"]
	path = django-oscar
	url = git@github.com:trydirect/django-oscar.git
[submodule "akeneo"]
	path = akeneo
	url = git@github.com:trydirect/akeneo.git
[submodule "drupal"]
	path = drupal
	url = git@github.com:trydirect/drupal.git
[submodule "suitecrm"]
	path = suitecrm
	url = git@github.com:trydirect/suitecrm.git
[submodule "symfony4-restful"]
	path = symfony4-restful
	url = git@github.com:trydirect/symfony4-restful.git
[submodule "orocrm"]
	path = orocrm
	url = git@github.com:trydirect/orocrm.git
[submodule "orocommerce"]
	path = orocommerce
	url = https://github.com/trydirect/orocommerce.git
[submodule "modx"]
	path = modx
	url = git@github.com:trydirect/modx.git
[submodule "pimcore"]
	path = pimcore
	url = git@github.com:trydirect/pimcore.git
[submodule "opencart"]
	path = opencart
	url = git@github.com:trydirect/opencart.git
[submodule "taiga"]
	path = taiga
	url = git@github.com:trydirect/taiga.git
[submodule "orocommerce-de"]
	path = orocommerce-de
	url = git@github.com:trydirect/orocommerce-de.git
[submodule "mautic-formula"]
	path = mautic-formula
	url = git@github.com:trydirect/mautic-formula.git
[submodule "wagtail"]
	path = wagtail
	url = git@github.com:trydirect/wagtail.git
[submodule "zulip"]
	path = zulip
	url = git@github.com:trydirect/zulip.git
[submodule "odoo-formula"]
	path = odoo-formula
	url = git@github.com:trydirect/odoo-formula.git
[submodule "osticket"]
	path = osticket
	url = git@github.com:trydirect/osticket.git
[submodule "django-restful"]
	path = django-restful
	url = git@github.com:trydirect/django-restful.git
[submodule "yii2-restful"]
	path = yii2-restful
	url = git@github.com:trydirect/yii2-restful.git
[submodule "bitrix1c"]
	path = bitrix1c
	url = git@github.com:trydirect/bitrix1c.git
